.header {
    grid-area: header;

    background-color: #eef1f6;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        padding: 20px 0;

        // @media (max-width: $sm) {
        //     flex-direction: column;
        // }
    }

    &__logo {
        font-family: $family-heading;
        font-size: 3rem;
        line-height: 40px;
        text-transform: uppercase;
        color: $colors-highlight;
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 10px;

        @media (max-width: $sm) {
            flex-direction: column;
        }
    }
}
