// colors
$colors-highlight: #6b89d9;

// typography
$family: 'Manrope', sans-serif;
$family-heading: 'Russo One', sans-serif;

// media
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
